<head>
  
  
<a href="/users/sign_in"> 로그인 </a>  

<p><%= current_user%></p>
</head>
<body>
  <div class="date-label">7월5일 화요일
    <div class="timetable">
      <table class="table"> 
        <thead> 
          <tr> 
            <th>시간</th> 
            <th>팀</th> 
            <th>이름</th> 
            <th>그려</th> 
          </tr> 
        </thead> 
        <tbody> 
          <tr class="success"> 
            <th scope=row>오후6시</th> 
              <td>Mark</td> 
              <td>Otto</td> 
              <td>신청</td> </tr> 
          <tr> 
            <th scope=row>오후7시</th> 
            <td>Jacob</td> 
            <td>Thornton</td> 
            <td>@fat</td> 
          </tr> 
          <tr class="danger"> 
            <th scope=row>오후8시</th> 
            <td>Larry</td> 
            <td>the Bird</td> 
            <td>불가</td> 
          </tr> 
        </tbody> 
      </table>
    </div>  
  </div>
</body>