<head>
  
  
<div id="#">  
<a href="/users/sign_in"> 로그인 </a>  </br>
<a href="/users/sign_up"> 회원가입 </a>  
</div>
<% if user_signed_in? %>
<p>로그인 시 표시 되는 정보.</p>
<p>E mail = <%= current_user.email %></p>
이름 = <%= current_user.name %>
소속 팀 = <%= current_user.real_team %>


<%end%>
</br>
test1@lion.net ~ test3@lion.net//PW:111111
시도 해보세요..ㅎㅎ</br>
<a href="/users/sign_out">Log Out</a>
</head>
<body>

<br>
<a href="/home/updateDB/2016_7">2016년 7월 DB 업데이트</a><br>
<a href="/home/showDB">DB 정보 열람</a>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
       <div class="action-buttons">      
           <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-info">
                 <input type="radio" name="options" id="option1" autocomplete="off"> 매치
                </label>
                <label class="btn btn-info">
                 <input type="radio" name="options" id="option2" autocomplete="off"> 교환
                </label>
                <label class="btn btn-info">
                 <input type="radio" name="options" id="option3" autocomplete="off"> 모름
                </label>
           </div>
           <span class="request-button">
            <button type="button" class="btn btn-primary">신청</button>
           </span>
        </div>
        <div class="comment-form">
            <form>
              <div class="form-group">
                <!--<label for="recipient-name" class="control-label"></label>-->
                
                <div>
                    <div class="input-group">
                      <input type="text" class="form-control">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button">댓글</button>
                      </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
                
                 <!--<input type="text" class="form-control" id="recipient-name" placeholder="댓글을 남기세요">-->
                 <!--<button type="button" class="btn btn-primary">댓글</button>-->
              </div>
            </form>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">현황Ex) 신청 2 교환 0 모름 2</h3>
          </div>
          <div class="panel-body">
            - 댓글댓글
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--timetable-->

<div class="timetable">
 <% for i in 1..@last_day.to_i %>
  <% 
      date = Time.new( @t[0], @t[1], i)
      da = date.to_a # da(datearray) => [sec, min, hour, day, month, year, wday, yday, isdst, zone] 
      %> 
      
  
  <%    day = case da[6]  # da[6], 즉 wday는 일,월,화,수,목,금,토가 각각 0,1,2,3,4,5,6으로 표현된다    
             when 0 then "일"
             when 1 then "월"
             when 2 then "화"
             when 3 then "수"
             when 4 then "목"
             when 5 then "금"
             else        "토"
           end
     %>
     
  
  <% if date.yday == @now.yday %>
    <div class="date-label" id="today"> <%= da[4] %>월 <%= da[3] %>일 <%= day %>요일 <a href="#">맨위로</a></div>
  <% else %>
    <div class="date-label" id="<%=da[5]%>_<%=da[4]%>_<%=da[3]%>"> <%= da[4] %>월 <%= da[3] %>일 <%= day %>요일</div>
  <% end %>
    <div class="schedule">
      <table class="table"> 
        <thead> 
          <tr> 
            <th>시간</th> 
            <th>예약팀</th>
            <th>소속팀</th>
            <th>예약자</th> 
            <th>신청</th> 
          </tr> 
        </thead> 
        <tbody>
          <% @yeyak.each do |y| %>
          <% if i < 10 
              j = "0"+i.to_s
              else
              j = i.to_s
              end %>
          <% if y.resDay.split('-')[2] == j %>
      
          <tr class="success"> 
            <th scope=row><%= y.hourStr.split(' ~ ')[0] %></th> 
              <td><%= y.groupName %></td>
              <td>-</td> 
              <td><%= y.userName %></td> 
              <td>
                <button type="button" class="btn-xs btn-success" data-toggle="modal" data-target="#exampleModal" data-abc=<%= y.userId %>>신청</button>
              </td> 
          </tr>
          <%end%>
          <% end %>
        </tbody> 
      </table>
     </div>  
  <% end %>
</div>   
<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('(엠블럼) ' + recipient)
//   modal.find('.modal-body input').val(recipient)
})
</script>  
  <script>
// $(function(){
//     $(".sinchung").click(function(){
//         $('div.modal').modal();
//     })
// })
//</script>
<script>
$(function(){
  $(document).ready(function () {
      // Handler for .ready() called.
      $('html, body').animate({
          scrollTop: $('#today').offset().top
      }, 'slow');
  });
});
</script>
</body>