<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KUSM - Korea University Soccer Matcher</title>
  <!--
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
-->
    <!-- Bootstrap Core CSS -->
    <!--
    <link href="ubuntu/workspace/app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stlyesheet">
    
    <link href="css/simple-sidebar.css" rel="stylesheet">
    -->
    <!-- <link rel="stylesheet" href="/path/to/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />-->
    <!--
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="bootstrap-datetimepicker.min.js"></script>
    -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      .mytuple:hover {
          cursor:pointer;
      }
    </style>


</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="main_page.html">KUSM</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home/test1">전체 일정</a>
                    </li>
                    <li>
                        <a href="/home/board_write">광고하기</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
                            <li class="active">
                                <a href="http://portal.korea.ac.kr">고려대학교 포털시스템</a>
                            </li>
                            <li>
                                <a href="http://yeyak.korea.ac.kr">고려대학교 시설예약</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <%= current_user.name %>
                    </a>
                </li>
                <li>
                    <a href="#"><%= current_user.real_team %></a>
                </li>
                <li>
                    <a href="#"><%= current_user.last_sign_in_at %> </a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="/users/sign_out">로그아웃</a>
                </li>
            </ul>
            
        </div>
        <!-- /#sidebar-wrapper -->
                
        
        <!-- Page Content -->
        
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-md-8">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> <= 이거 다른 곳으로 옮겨야 합니당
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <!-- 대문 이미지 -->
                        <img style="width:100%;height:300px;border-radius:30px" src="/images/fortest.jpg"/>
                        <hr/>
                        <!-- 탭 테스트 -->
                        <div>
                                                
                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">간편검색</a></li>
                            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">달력으로 검색</a></li>
                          </ul>
                        
                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="messages">
                                <!-- 검색 바 -->
                                <div style="width:100%;margin:auto">
                                    <!-- <h1 class="h1"><span class="glyphicon glyphicon-search"/></h1>-->
                                    <div class="flexsearch">
                                    		<div class="flexsearch--wrapper">
                                    			<form class="flexsearch--form" action="/search_result" method="get">
                                    				<div class="flexsearch--input-wrapper">
                                    					<input name="searchquery" class="flexsearch--input" type="search" placeholder="예약팀, 예약자로 검색...">
                                    				</div>
                                    				<input class="flexsearch--submit" type="submit" value="&#10140;"/>
                                    			</form>
                                    		</div>
                                    </div>
                                </div>
                                <!-- 검색 바 끝 -->
                                
                            </div>
                            <div role="tabpanel" class="tab-pane" id="settings">
                                <!-- 상세 검색 바 -->
                                <div style="width:100%">
                                    <br/>
                                    
                                <form action="/search_result" method="get"> 
                                <div style="overflow:hidden;">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div id="datetimepicker12">
                                                    <input name="searchquery" type='hidden' class="form-control" />
                                                </div>
                                                <br>
                                                <input style="width:100%" class="btn btn-primary" type="submit" value="Search"/>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker12').datetimepicker({
                                                inline: true,
                                                sideBySide: false,
                                                format: 'YYYY-MM-DD'
                                            });
                                        });
                                    </script>
                                </div>
                                
                                </form>
                                </div>
                                <!-- /상세 검색 바 -->
                                
                            </div>
                          </div>
                        <hr/>
                        </div>
                        <!-- /탭 테스트 -->
                        
                        <h1>예약 현황</h1>
                        <!--timetable-->
                        <% todayDate = @now.to_a %>
                    
                        <div class="timetable">

                        <% for i in todayDate[3]..@last_day.to_i %>
                          <% 
                              date = Time.new( @t[0], @t[1], i)
                              da = date.to_a # da(datearray) => [sec, min, hour, day, month, year, wday, yday, isdst, zone] 
                          %> 

                          <%
                             day = case da[6]  # da[6], 즉 wday는 일,월,화,수,목,금,토가 각각 0,1,2,3,4,5,6으로 표현된다    
                             when 0 then "일"
                             when 1 then "월"
                             when 2 then "화"
                             when 3 then "수"
                             when 4 then "목"
                             when 5 then "금"
                             else        "토"
                             end
                          %>
                          
                          <% if date.yday == @now.yday %>
                            <div class="date-label" id="today"> <%= da[4] %>월 <%= da[3] %>일 <%= day %>요일</div>
                          <% else %>
                            <div class="date-label" id="<%=da[5]%>_<%=da[4]%>_<%=da[3]%>"> <%= da[4] %>월 <%= da[3] %>일 <%= day %>요일</div>
                          <% end %>
                            <div class="schedule">
                              <table class="table table-hover" style="table-layout:fixed; word-break:break-all;">
                                <thead> 
                                  <tr style="background-color:black;color:#ccc"> 
                                    <th>시간</th> 
                                    <th>예약팀</th>
                                    <th>소속팀</th>
                                    <th>예약자</th> 
                                    <!--<th>신청</th>--> 
                                  </tr> 
                                </thead> 
                                <tbody>
                                  <% @yeyak.each do |y| %>
                                  <% if i < 10 
                                      j = "0"+i.to_s
                                      else
                                      j = i.to_s
                                  end %>
                                  <% if y.resDay.split('-')[2] == j %>
                              
                                  <tr class="success mytuple" onclick="mySlider(<%= y.id %>)"> <!-- 한 줄 -->
                                    <th scope=row><%= y.hourStr.split(' ~ ')[0] %></th> 
                                      <td><%= y.groupName %></td>
                                      <td>-</td> 
                                      <td><%= y.userName %></td> 
                                      <!--
                                      <td>
                                        <button type="button" class="btn-xs btn-success" data-toggle="modal" data-target="#exampleModal" data-abc=<%= y.userId %>>신청</button>
                                      </td> 
                                      -->
                                  </tr>
                                  <tr class="slide-content" id="slide_content_<%= y.id %>">
                                      <td colspan="4" class="myslide">
                                          <!-- 이부분에 게시글 및 신청 버튼 활성화 -->
                                           <div class="modal-body">
                                               <div class="action-buttons">      
                                                   <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-info">
                                                         <input type="radio" name="options" id="option1" autocomplete="off"> 매치
                                                        </label>
                                                        <label class="btn btn-info">
                                                         <input type="radio" name="options" id="option2" autocomplete="off"> 교환
                                                        </label>
                                                        <label class="btn btn-info">
                                                         <input type="radio" name="options" id="option3" autocomplete="off"> 모름
                                                        </label>
                                                   </div>
                                                   <span class="request-button">
                                                    <button type="button" class="btn btn-primary">신청</button>
                                                   </span>
                                                </div>
                                                <div class="comment-form">
                                                    <form>
                                                      <div class="form-group">
                                                        <!--<label for="recipient-name" class="control-label"></label>-->
                                                        
                                                        <div>
                                                            <div class="input-group">
                                                              <input type="text" class="form-control">
                                                              <span class="input-group-btn">
                                                                <button class="btn btn-default" type="button">댓글</button>
                                                              </span>
                                                            </div><!-- /input-group -->
                                                        </div><!-- /.col-lg-6 -->
                                                        
                                                         <!--<input type="text" class="form-control" id="recipient-name" placeholder="댓글을 남기세요">-->
                                                         <!--<button type="button" class="btn btn-primary">댓글</button>-->
                                                      </div>
                                                    </form>
                                                </div>
                                                <div class="panel panel-info">
                                                  <div class="panel-heading">
                                                    <h3 class="panel-title">현황Ex) 신청 2 교환 0 모름 2</h3>
                                                  </div>
                                                  <div class="panel-body">
                                                    - 댓글댓글
                                                  </div>
                                                </div>
                                              </div>
                                          <button type="button" class="btn-xs btn-success" data-toggle="modal" data-target="#exampleModal" data-abc=<%= y.userId %>>신청</button>
                                      </td>
                                  </tr>
                                  
                                  <% end %>
                                  <% end %>
                                </tbody> 
                              </table>
                             </div>  
                          <% end %>
                        </div>
                        <a href="#">맨위로</a>
                        <!--/.timetable-->
                    </div>
                </div>
                </div>
                </div> <!-- /.col-md-8 -->
                <div class="col-md-4">
                    <h1>Recent Posts</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <!-- <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->
                </div> <!-- /.col-md-4 -->
            </div> <!-- /.row -->
        </div> <!-- /#page-content-wrapper -->
      </div>
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    
        $(".slide-content").hide();
    
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        function mySlider(slideId) {
            $("#slide_content_"+slideId).slideToggle();
        }
    </script>

</body>

</html>
