<!DOCTYPE html>
<html>
    
    <head>
    	<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
        <script src='lib/jquery.min.js'></script>
        <script src='lib/moment.min.js'></script>
        <script src='fullcalendar/fullcalendar.js'></script>
      
      
    	<script>


	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
						left: 'prev,next today',
						center: 'title',
						right: 'month,agendaWeek,agendaDay'
					},
			contentHeight: 500,
			editable: false,
			eventLimit: true, // allow "more" link when too many events
			views: {
        			agenda: {
            			eventLimit: 2 // adjust to 6 only for agendaWeek/agendaDay
            		
        					}
    					},
			windowResize: function(view) {
    		//alert('The calendar has adjusted to a window resize');
			},
			
			minTime: "08:00:00",
			maxTime: "23:00:00",
			defaultView:'agendaWeek',
			allDaySlot : false,
			displayEventEnd: 'true', //12~1 for month
			
			events: [
						<% @event.each do |y| %>
							{title: '<%=y.groupName%>, <%= y.userName %>',
							start: '<%=y.resDay%>T<%=y.hourStr.split[0]%>',
							end :	'<%=y.resDay%>T<%=y.hourStr.split[2]%>'},
						<%end%>
						{
							title: 'Open',
							start: '2016-06-01'
						}
					],
					slotLabelFormat : 'h(:mm)a' // uppercase H for 24-hour clock
			
			//eventcolor: 'black',     // an option!
            //textColor: 'yellow' // an option!
			
		});
		
	});


    	</script> 
        
        
        
    </head>
 
	<body>   
  		<div id='calendar'></div>
	</body>
</html>